<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  <include
    file="$(find rm_single_1402)/launch/gazebo.launch" />

   <!--Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find rm_description)/urdf/neuq_rm.xacro'" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model robot -param robot_description"/>
 
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find rm_description)/config/gimbal.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/swivel" args="swiveljoint_state_controller swiveljoint1_position_controller swiveljoint2_position_controller  --shutdown-timeout 3"/>

</launch>

