<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="rm_2v2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.020744 0.0019515 1.0769E-06"
        rpy="0 0 0" />
      <mass
        value="759.3" />
      <inertia
        ixx="2390.9"
        ixy="-0.0019573"
        ixz="-380.15"
        iyy="6914.3"
        iyz="-5.9904E-06"
        izz="4523.5" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_2v2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.22353 0.22353 0.22353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_2v2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="2.4133 -0.68138 -1.3136"
        rpy="0 0 0" />
      <mass
        value="3897.7" />
      <inertia
        ixx="2910.7"
        ixy="-0.00022619"
        ixz="-527.16"
        iyy="4066.7"
        iyz="-7.3997E-05"
        izz="2292.4" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_2v2/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm_2v2/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="fixed">
    <origin
      xyz="-2.4294 -1.3136 0.98596"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 0" />
    <calibration
      rising="0.005"
      falling="0.005" />
    <dynamics
      damping="0.75"
      friction="0.6" />
  </joint>
</robot>